{% extends "layout.html"%}
{% block content %}
<div class="container">
   <form method="post" action="/loadStockData" onsubmit="$('#loading').show();">
       <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6">
               <div class="form-group">
                   <label>Company Symbol</label>
                   <input type="text" name="symbol" placeholder="Symbol" class="form-control" required>
               </div>
           </div>
           <div class="col-md-3"></div>
       </div>

       <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="submit" value="Load data to database" class="btn btn-primary">

                        <div id = "loading" class="spinner-border text-primary" role="status" style="display:none; position: relative; top: 7px; left: 10px;">
                            <span class="sr-only">Loading...</span>
                        </div>

               </div>
            </div>
            <div class="col-md-3"></div>
       </div>
   </form>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card" >
              <div class="card-body">

                <h5 class="card-title">Companies in your database :</h5>
                <div class="col-md-8">
                  <ul class="list-group">
                    {% for sym in available %}
                        <li class="list-group-item py-2">{{sym}}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}